<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607231?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Гомель</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607232?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607233?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30324659?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958668?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958110?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958111?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958112?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Псков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30924938?query=java%20Odessa">Middle QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30818259?query=java%20Odessa">Regular Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Площадь Ленина</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30701927?query=java%20Odessa">Middle QA Automation Engineer with Java</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30776625?query=java%20Odessa">Web-аналитик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30658061?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30350012?query=java%20Odessa">Senior JAVA Developer (blockchain) #7622</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30653733?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Минск, Немига</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30744939?query=java%20Odessa">Java Script разработчик на Playable</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30506950?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Москва, Достоевская</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 200&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30412613?query=java%20Odessa">Middle and Senior Javascript Developer (Angular)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30870270?query=java%20Odessa">Ruby on Rails Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">JetThoughts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30828299?query=java%20Odessa">Middle Firmware Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CИИ УКРАИНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30726526?query=java%20Odessa">Linux администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30726538?query=java%20Odessa">Начальник отдела администрирования</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30616088?query=java%20Odessa">Senior TA / TA Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/29504643?query=java%20Odessa">Golang Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО 482.solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/29583957?query=java%20Odessa">Front-end Developer / ElectricAccelerator</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/29781963?query=java%20Odessa">Водитель</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">12&nbsp;000-18&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>