<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607231?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Гомель</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607232?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30607233?query=java%20Odessa">Middle/Senior Full-stack Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">до 3&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30324659?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958668?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958110?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958111?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30958112?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Псков</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30924938?query=java%20Odessa">Middle QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30818259?query=java%20Odessa">Regular Java Developer</a></td> 
     <td class="city">Санкт-Петербург, Площадь Ленина</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30701927?query=java%20Odessa">Middle QA Automation Engineer with Java</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30776625?query=java%20Odessa">Web-аналитик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30658061?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30653733?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Минск, Немига</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30350012?query=java%20Odessa">Senior JAVA Developer (blockchain) #7622</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30744939?query=java%20Odessa">Java Script разработчик на Playable</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Плейджендари Девелопмент</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30506950?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Москва, Достоевская</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 200&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30412613?query=java%20Odessa">Middle and Senior Javascript Developer (Angular)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30870270?query=java%20Odessa">Ruby on Rails Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">JetThoughts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kiev.hh.ua/vacancy/30828299?query=java%20Odessa">Middle Firmware Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CИИ УКРАИНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005374">Java разработчик (Java Developer, Middle Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Алтимета"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/800020394">java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021444">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iiko</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021587">Java разработчик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BelPrime</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008357">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Instabank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021415">Java программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Faidon Design</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020518">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк «Открытие»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021498">Java Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровый центр СОЛОМОН</td> 
     <td class="salary">От 110 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021665">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VIAcode</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021211">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">John Wiley &amp; Sons Rus, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014505">Backend-разработчик Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АМА ГРУПП</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021574">Java Team -Lead</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Cinarra</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021778">Senior Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021307">Ведущий Java разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Digital Zone</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/652337989">Ведущий разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020995">Java backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Группа компаний Агент.ру</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021567">Java Senior (Moscow/UK)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 200 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021730">Senior Java Developer</a></td> 
     <td class="city">Варшава</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 1 500 до 4 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021172">Java / Javascript разработчик (front/backend)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Teamlead</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIRECTUAL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>